@import "tailwindcss";

* {
  font-family: Roboto, sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
}

.roboto-variable {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@layer base {
  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl mb-4;
  }

  h2 {
    @apply text-xl sm:text-2xl md:text-3xl mb-4;
  }

  h3 {
    @apply text-lg sm:text-xl md:text-2xl mb-3;
  }

  h4 {
    @apply sm:text-lg md:text-xl mb-3;
  }

  h5 {
    @apply sm:text-base md:text-lg mb-2;
  }

  h6 {
    @apply sm:text-sm md:text-base mb-2;
  }

}

